*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.continer{
    max-width: 1220px;
    margin: 0 auto;

}
header{
    background-color: #1B004E;
}
header .continer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0px;
}
nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    
    padding:15px 30px;
    background-color: #1B004E;
    border: 2px solid #EB5757;
    border-radius: 50px;
    color: white;
}
    a:hover{
        color: #fd6464;
    }

.aa{
    display: flex;
    align-items: center;
}
.text{
    width: 665px;
    height: 246px;
    top: 187.19px;
    
}
.text h1{
    font-size: 60px;
    padding: 10px 0;
    color: white;

}
.text p{
    color: white;
    font-size: 17px;
 
}


main{
    background-color: #1B004E;
}

.btn1{
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #EB5757;
    color: white;
    border: none;
    margin: 32px 0;

}

.hero{
    background-color: white;
    padding: 20px;
}

.hero h2{
    padding: 90px 0;
    text-align: center;
    justify-content: center;
    font-size: 32px;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 139px;


}
.card{
   margin-bottom: 110px;

}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qalin{
    font-weight: 600;
    font-size: 24px;
    line-height: 14px;
}
.hero-2 .continer{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-top: 157px ;
    padding-bottom: 83px;

}

.hero-3 {
    background-color: #FFF6FB;

}
 .box{
    background-color: white;
    width: 368px;
    height: 399.3580627441406px;
    top: 2148.39px;
    left: 135px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px #CBCBCB40;

}
.card-ota{
    display: flex;
    align-items: center;
    gap: 33px;
    padding: 60px 0;
    padding-bottom: 110px;
}
.hero-3 h2{
    text-align: center;
    padding-top: 100px;
}
.box p{
   color: black;
    font-size: 15px;
    line-height: 12px;
    padding:0 18px;
}
.hero-4 h1{
    color: white;
    text-align: center;
    padding-top: 110px  ;
    font-size: 50px;


}
.hero-4 p{
    color: white;
    text-align: center;
    font-size: 24px;
}
input{
    width: 578px;
    height: 74px;
    top: 2905px;
    left: 440.25px;
    angle: 0 deg;
    opacity: 1;
    border-width: 2px;
    border-radius: 37px;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    margin-bottom: 157px;
    padding:  0 4px;
    align-items: center;
    margin-left: 360px;
    

}

.hero-4 button{

    width: 139px;
    height: 62px;
    top: 2911px;
    left: 874.25px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 31px;
    background-color: #EB5757;
    border: none;
    color: white;
    margin-left: -150px;
   align-items: center;
   margin-top: 50px;

}
footer{
    background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
    
}
footer .continer{
    display: flex;
    padding: 81px 136px;
    align-items: center;
}
footer .text p{
    color: #948f8f;
    transition: 1s;
    
}
footer .text p:hover{
    color: white;
    font-size: 18px;
 }
 .icon{
    display: none;
    font-size: 20px;
    background-color: inherit;
    color: white ;
    border: none;
    padding: 0px 10px;
 }


 @media (max-width:768px){
    nav{
        display: none;
    }
    .btn{
        display: none;
        
    }
    .icon{
        display: block;
    }
    .rasm{
        display: none;

    }
    .text h1{
        flex-wrap: wrap;
        font-size: 23px;
        text-align: center;
    }
    .text p{
        text-align: center;
        font-size: 12px ;
    }
    .btn1{
        margin: 20px 110px;
    }
    .ota{
        flex-wrap: wrap ;
        align-items: center;       
    }
    .text-hero2{
        flex-wrap: wrap;


    }
    .text-hero2 img{
        height: 100%;
        padding: 0 10px;
    }
    .img-hero2 img{
      
        display: none;

    }
    .text-hero2 h1{
        font-size: 23px;
        text-align: center;
    }
    .text-hero2 p{
        text-align: center;
        font-size: 12px;
    }
    .card-ota{
        flex-wrap: wrap;
        padding: 10px 2px;
        
    }
    .hero-4{
        width: 100%;
        height: 100%;
    }
    .hero-4 input{
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
 }
 
 



